{% extends 'layout.html' %}

{% block title %}
  <title>Menu</title>
{% endblock title %}

{% block body %}
  <div class="container-fluid mb-3">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 bg-light border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Py Restaurant</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/dashboard">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/add_menu">Menu</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/users">Users</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/reservations">Reservations</a>
        <a class="btn btn-primary text-decoration-none" href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </div>

    <h3 class="text-center mt-3 mb-0 pb-0">Add Menu</h3>
    <div class="card w-50 mx-auto">
      <div class="card-header p-0 text-center">
        <img src="{{url_for('static', filename='images/food1.jpeg')}}" align="middle" class="w-100"/>
      </div>
      <div class="card-body">
        <form action="/add_menu" method="post" enctype="multipart/form-data">
          Menu Name <input type="text" name="menu_name" id="" class="form-control mb-2" placeholder="Menu Name">
          Price <input type="text" name="menu_price" id="" class="form-control mb-2" placeholder="Menu Price">
          Picture <input type="file" name="menu_pic" id="" class="form-control mb-2" required>

          Category Name <br>
          <select name="category_id" id="" class="form-control w-100 mb-3" required>
            <option value="" hidden>select category</option>
            {% for c in all_categories %}
              <option value="{{c.id}}">{{c.category_name}}</option>
            {% endfor %}
          </select>

          <input type="submit" name="register" class="btn w-100 btn-primary" value="Resister">
        </form>
      </div>
    </div>

    <h3 class="text-center mt-5 mb-0 pb-0">All Menus</h3>
    <table class="table table-striped table-bordered w-100 text-center">
      <tr>
        <th class="table-danger">Menu ID#</th>
        <th class="table-danger">Name</th>
        <th class="table-danger">Price</th>
        <th class="table-danger">Picture</th>
        <th class="table-danger">Category</th>
        <th colspan="2" class="table-danger" >Action</th>

        {% for m in menus %}
          <tr>
            <td><a href="/menu_details/{{m.Menu.id}}">{{m.Menu.id}}</a></td>
            <td>{{m.menu_name}}</td>
            <td>{{ "$%.2f"|format(m.menu_price) }}</td>
            <td style="width: 200px; height: 200px;"><img src="/static/images/{{m.menu_pic}}" alt="" class="w-100 h-100"></td>
            <td>{{m.category_name}}</td>
            <td><a href="/update_menu/{{m.Menu.id}}">Update</a></td>
            <td><a href="/delete_menu/{{m.Menu.id}}">Delete</a></td>
          </tr>
        {% endfor %}
      </tr>
    </table>
  </div>
{% endblock %}