{% extends 'layout.html' %}

{% block title %}
  <title>Update Menu</title>
{% endblock title %}

{% block body %}
  <div class="container-fluid mb-3">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 bg-light border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Py Restaurant</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/dashboard">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/add_menu">Menu</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/users">Users</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/reservations">Reservations</a>
        <a class="btn btn-primary text-decoration-none" href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </div>

    <h3 class="text-center mt-3 mb-0 pb-0">Update Menu</h3>
    <div class="card mx-auto" style="width: 350px;">
      <div class="card-header p-0" style="height: 350px;">
        <img src="/static/images/{{selected_menus.menu_pic}}" alt="" class="w-100 h-100" align="middle">
      </div>
      <div class="card-body">
        <form action="/update_menu/{{selected_menus.id}}" method="post">
          Menu Name <input type="text" name="menu_name" id="" class="form-control mb-2" value="{{selected_menus.menu_name}}">
          Price <input type="text" name="menu_price" id="" class="form-control mb-2" value="{{selected_menus.menu_price}}">
          Picture <input type="file" name="menu_pic" id="" class="form-control mb-2" value="{{selected_menus.menu_pic}}" required>
          Category Name <br>
          <select name="category_id" id="" class="form-control w-100 mb-3" required>
            {% for c in all_categories %}
              <option value="{{c.id}}">{{c.category_name}}</option>
            {% endfor %}
          </select>

          <input type="submit" name="update_menu" class="btn w-100 btn-primary w-100" value="Update Menu">
        </form>
      </div>
        <div class="card-footer text-center">
          To go back to previous page click <a href="/add_menu">here</a>.
        </div>
    </div>
  </div>
{% endblock %}