{% extends 'layout.html' %}

{% block title %}
  <title>Update Order</title>
{% endblock title %}

{% block body %}
  <div class="container-fluid mb-3">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 bg-light border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Py Restaurant</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/dashboard">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/add_menu">Menu</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/users">Users</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/reservations">Reservations</a>
        <a class="btn btn-primary text-decoration-none" href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </div>

    <div class="container-fluid text-center">
      <h3 class="text-center mt-3 mb-0 pb-0">Select Category</h3>
      <p class="text-center">What category would the user like to order?</p>
      <div class="card w-25 mx-auto mb-3">
        <div class="card-body">
          Full Name : {{res_info.uname}} <br>
          Date : {{res_info.res_date}} <br>
          Time : {{res_info.res_time}} <br>
          Guest : {{res_info.num_guest}}
        </div>
      </div>
      <div class="mx-5">
        <div class="row justify-content-center text-center">
          {% for c in categories %}
            <div class="col-sm-3 mb-3">
              <div class="card h-100">
                <div class="card-body mb-0">
                  <h5 class="card-title">{{c.category_name}}</h5>
                  <a href="/update_res_order/{{c.id}}" class="btn btn-primary w-100">Display menu</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}